:root {
  --homepage-background: #5b6a82;
  --homepage-primary-text: black;
  --homepage-secondary-text: white;
  --homepage-button-background: #4d99b6;
  --homepage-button-second-background: #def0ff;
  --homepage-button-second-text: #4d99b6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: rgb(15, 157, 88);
  --secondary-color: rgb(255, 255, 255);
}
