.color-nav {
  background-color: #4C1515;
  
}
.theme-button{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.job-body{
  height:20rem;
  background-color: #14532A;
  color: white;
  text-align: center;
  font-size:4rem;
  font-weight: bold;
  padding-top: 5rem;

}
.white-body{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;

}